html {
  scroll-behavior: smooth;
}

#profile {
  width: 30%;
  height: 30%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

img.university_icon {
  width: 150px;
  height: 150px;
}

img.company_icon {
  width: 150px;
  height: 150px;
}

iframe {
  width: 100%;
  height: 300px;
}

#myBtn:hover {
  background-color: #555;
}

.social {
  color: grey;
  margin-right: 2rem;
}

#social-facebook:hover {
  color: #3b5999;
}

#social-instagram:hover {
  color: #ff0084;
}

#social-linkedin:hover {
  color: #0077b5;
}

#social-whatsapp:hover {
  color: #25d366;
}
