html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.nav-item:hover {
  animation: jingle ease-in-out 400ms;
}

@keyframes jingle {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: none;
  }
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

#about {
  position: relative;
}

#icon {
  font-family: "Pacifico", cursive;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

section {
  padding: 4rem 0;
}

section:nth-child(odd) {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
}

.self_description {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 1rem 0;
}

#timeline {
  position: relative;
  max-width: 1200px;
  margin: 2rem auto;
}

/* The actual timeline (the vertical ruler) */
#timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.content_container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.content_container::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  background-color: white;
  border: 3px solid red;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  text-align: right;
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  right: 30px;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 15px;
  border: 1px solid black;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  #timeline::after {
    left: 30px;
  }

  /* Full-width containers */
  .content_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .content_container::before {
    left: 60px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  .left {
    text-align: left;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.progress#scroll-indicator {
  width: 100%;
  height: 0.3rem;
  background: #ccc;
}

.progress-bar#indicator-bar {
  background: red;
  width: 0%;
}

div.progress {
  background-color: white;
}

#profile {
  padding: 1rem;
  border-radius: 50%;
  width: 70%;
  height: 50%;
}

.txt-rotate {
  font-size: 1.5em;
  color: #a200ff;
}

@keyframes animated-cursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

.university_icon,
.company_icon {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

#myBtn {
  display: none;
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 100px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

iframe {
  width: 100%;
  height: 300px;
}

.resume {
  margin: 0;
  padding: 0;
}

#myBtn:hover {
  background-color: #555;
}

.fa-arrow-up {
  animation: updown linear 1s infinite alternate;
}

@keyframes updown {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.download_button {
  font-weight: 500;
  color: white;
  background-color: red;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

.download_button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease;
}

.skill_icon {
  font-size: 4em;
}

.skill_icon:hover {
  animation: jingle ease-in-out 400ms;
}

.passion_item {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.passion_item:hover {
  color: white;
  background: linear-gradient(135deg, #f956b3, #eb7d0e);
  transform: scale(1.05);
}

.passion_item_name {
  margin: 15px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.passion_item_description {
  padding: 10px;
  text-align: justify;
}

.author_image {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.blockquote_text {
  margin: 10px;
  font-size: 20px;
  font-style: italic;
}

.blockquote_author {
  margin: 0;
  font-weight: 500;
  text-align: right;
}

.blockquote_author_title {
  font-style: italic;
  text-align: right;
  font-size: small;
}

.detail {
  font-size: 20px;
  margin: 20px;
}

footer {
  padding: 15px 0;
  background-color: #343a40;
  text-align: center;
}

.social {
  color: grey;
  margin-right: 2rem;
}

#social-whatsapp {
  margin-right: 0;
}

#social-facebook:hover {
  color: #3b5999;
}

#social-instagram:hover {
  color: #ff0084;
}

#social-linkedin:hover {
  color: #0077b5;
}

#social-whatsapp:hover {
  color: #25d366;
}
